body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u3115 {
  position:absolute;
  left:460px;
  top:80px;
  width:380px;
  height:800px;
}
#u3116 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3117 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
}
#u3118 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u3119 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:19px;
}
#u3120 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u3121 {
  position:absolute;
  left:492px;
  top:215px;
  width:320px;
  height:19px;
}
#u3122 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3123 {
  position:absolute;
  left:615px;
  top:206px;
  width:108px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3124 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u3125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3125 {
  position:absolute;
  left:500px;
  top:200px;
  width:70px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3126 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3127 {
  position:absolute;
  left:770px;
  top:210px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u3128 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u3129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:310px;
}
#u3129 {
  position:absolute;
  left:505px;
  top:244px;
  width:295px;
  height:310px;
}
#u3129_img.selected {
}
#u3129.selected {
}
#u3130 {
  position:absolute;
  left:2px;
  top:147px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3131 {
  position:absolute;
  left:510px;
  top:260px;
  width:140px;
  height:16px;
  color:#CCCCCC;
}
#u3132 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u3133 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
  color:#949494;
}
#u3134 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3135 {
  position:absolute;
  left:552px;
  top:390px;
  width:200px;
  height:100px;
}
#u3136 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(92, 191, 36, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3137 {
  position:absolute;
  left:568px;
  top:450px;
  width:150px;
  height:30px;
}
#u3138 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u3139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3139 {
  position:absolute;
  left:612px;
  top:410px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u3140 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
