body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u71 {
  position:absolute;
  left:460px;
  top:80px;
  width:380px;
  height:800px;
}
#u72 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
}
#u74 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
}
#u75 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:28px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u77 {
  position:absolute;
  left:492px;
  top:216px;
  width:320px;
  height:19px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u79 {
  position:absolute;
  left:622px;
  top:206px;
  width:60px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:492px;
  top:234px;
  width:320px;
  height:144px;
}
#u82 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u83 {
  position:absolute;
  left:500px;
  top:449px;
  width:60px;
  height:16px;
  color:#6B6B6B;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u85 {
  position:absolute;
  left:578px;
  top:449px;
  width:60px;
  height:16px;
  color:#6B6B6B;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u87 {
  position:absolute;
  left:584px;
  top:389px;
  width:44px;
  height:52px;
}
#u88 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u89 {
  position:absolute;
  left:664px;
  top:389px;
  width:44px;
  height:52px;
}
#u90 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u91 {
  position:absolute;
  left:658px;
  top:449px;
  width:60px;
  height:16px;
  color:#6B6B6B;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u93 {
  position:absolute;
  left:746px;
  top:389px;
  width:44px;
  height:52px;
}
#u94 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u95 {
  position:absolute;
  left:740px;
  top:449px;
  width:60px;
  height:16px;
  color:#6B6B6B;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u97 {
  position:absolute;
  left:500px;
  top:538px;
  width:60px;
  height:16px;
  color:#6B6B6B;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u99 {
  position:absolute;
  left:510px;
  top:477px;
  width:44px;
  height:52px;
}
#u100 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u101 {
  position:absolute;
  left:584px;
  top:477px;
  width:44px;
  height:52px;
}
#u102 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u103 {
  position:absolute;
  left:578px;
  top:538px;
  width:60px;
  height:16px;
  color:#6B6B6B;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u105 {
  position:absolute;
  left:668px;
  top:477px;
  width:44px;
  height:52px;
}
#u106 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u107 {
  position:absolute;
  left:662px;
  top:538px;
  width:60px;
  height:16px;
  color:#6B6B6B;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u109 {
  position:absolute;
  left:746px;
  top:477px;
  width:44px;
  height:52px;
}
#u110 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u111 {
  position:absolute;
  left:740px;
  top:538px;
  width:60px;
  height:16px;
  color:#6B6B6B;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
}
#u113 {
  position:absolute;
  left:510px;
  top:389px;
  width:44px;
  height:52px;
}
#u114 {
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u115 {
  position:absolute;
  left:492px;
  top:562px;
  width:320px;
  height:10px;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u116 {
  position:absolute;
  left:2px;
  top:-3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:510px;
  top:580px;
}
#u117_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u117_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  color:#999999;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
#u117_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u117_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  color:#999999;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u117_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u117_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  color:#999999;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
}
#u124 {
  position:absolute;
  left:500px;
  top:626px;
  width:60px;
  height:44px;
}
#u125 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u126 {
  position:absolute;
  left:500px;
  top:680px;
  width:60px;
  height:16px;
  color:#999999;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u128 {
  position:absolute;
  left:600px;
  top:640px;
  width:192px;
  height:16px;
  color:#999999;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u130 {
  position:absolute;
  left:600px;
  top:667px;
  width:232px;
  height:16px;
  color:#999999;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:492px;
  top:708px;
}
#u132_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u132_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u134 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:49px;
}
#u135 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:49px;
}
#u136 {
  position:absolute;
  left:2px;
  top:16px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u137 {
  position:absolute;
  left:89px;
  top:6px;
  width:45px;
  height:47px;
}
#u138 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u139 {
  position:absolute;
  left:169px;
  top:6px;
  width:52px;
  height:47px;
}
#u140 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u141 {
  position:absolute;
  left:259px;
  top:6px;
  width:36px;
  height:47px;
}
#u142 {
  position:absolute;
  left:2px;
  top:16px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u132_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u144 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u145 {
  position:absolute;
  left:169px;
  top:6px;
  width:52px;
  height:47px;
}
#u146 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u147 {
  position:absolute;
  left:259px;
  top:6px;
  width:36px;
  height:47px;
}
#u148 {
  position:absolute;
  left:2px;
  top:16px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:48px;
}
#u149 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:48px;
}
#u150 {
  position:absolute;
  left:2px;
  top:16px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u151 {
  position:absolute;
  left:89px;
  top:6px;
  width:45px;
  height:47px;
}
#u152 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u132_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u154 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u155 {
  position:absolute;
  left:89px;
  top:6px;
  width:45px;
  height:47px;
}
#u156 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u157 {
  position:absolute;
  left:259px;
  top:6px;
  width:36px;
  height:47px;
}
#u158 {
  position:absolute;
  left:2px;
  top:16px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:49px;
}
#u159 {
  position:absolute;
  left:23px;
  top:4px;
  width:28px;
  height:49px;
}
#u160 {
  position:absolute;
  left:2px;
  top:16px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u161 {
  position:absolute;
  left:169px;
  top:6px;
  width:49px;
  height:48px;
}
#u162 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u132_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u164 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u165 {
  position:absolute;
  left:89px;
  top:6px;
  width:45px;
  height:47px;
}
#u166 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u167 {
  position:absolute;
  left:169px;
  top:6px;
  width:52px;
  height:47px;
}
#u168 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:49px;
}
#u169 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:49px;
}
#u170 {
  position:absolute;
  left:2px;
  top:16px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:47px;
}
#u171 {
  position:absolute;
  left:259px;
  top:6px;
  width:34px;
  height:47px;
}
#u172 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:492px;
  top:234px;
  width:320px;
  height:144px;
  overflow:hidden;
}
#u173_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u173_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
}
#u175 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u173_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
}
#u177 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u173_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
}
#u179 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u180 {
  position:absolute;
  left:492px;
  top:607px;
  width:320px;
  height:10px;
  color:rgba(228, 228, 228, 0.207843137254902);
}
#u181 {
  position:absolute;
  left:2px;
  top:-3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
