body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:845px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u3141 {
  position:absolute;
  left:460px;
  top:80px;
  width:380px;
  height:800px;
}
#u3142 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3143 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
}
#u3144 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u3145 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:19px;
}
#u3146 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u3147 {
  position:absolute;
  left:492px;
  top:215px;
  width:320px;
  height:19px;
}
#u3148 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3149 {
  position:absolute;
  left:615px;
  top:206px;
  width:108px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3150 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u3151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3151 {
  position:absolute;
  left:500px;
  top:200px;
  width:70px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3152 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3153 {
  position:absolute;
  left:500px;
  top:290px;
  width:160px;
  height:16px;
}
#u3154 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3155 {
  position:absolute;
  left:500px;
  top:316px;
  width:110px;
  height:16px;
  color:#999999;
}
#u3156 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u3157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3157 {
  position:absolute;
  left:500px;
  top:240px;
  width:40px;
  height:40px;
}
#u3158 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3159 {
  position:absolute;
  left:550px;
  top:252px;
  width:70px;
  height:16px;
  color:#999999;
}
#u3160 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3161 {
  position:absolute;
  left:492px;
  top:342px;
  width:320px;
  height:18px;
}
#u3162 {
  position:absolute;
  left:2px;
  top:1px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3163 {
  position:absolute;
  left:500px;
  top:374px;
  width:160px;
  height:16px;
}
#u3164 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3165 {
  position:absolute;
  left:500px;
  top:450px;
  width:300px;
  height:90px;
}
#u3166 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3167 {
  position:absolute;
  left:500px;
  top:400px;
  width:40px;
  height:40px;
}
#u3168 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3169 {
  position:absolute;
  left:550px;
  top:412px;
  width:70px;
  height:16px;
  color:#999999;
}
#u3170 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3171 {
  position:absolute;
  left:492px;
  top:560px;
  width:320px;
  height:18px;
}
#u3172 {
  position:absolute;
  left:2px;
  top:1px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u3173 {
  position:absolute;
  left:760px;
  top:532px;
  width:18px;
  height:16px;
}
#u3173_img.selected {
}
#u3173.selected {
}
#u3174 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CBF24;
}
#u3175 {
  position:absolute;
  left:785px;
  top:532px;
  width:60px;
  height:16px;
  color:#5CBF24;
}
#u3176 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3177 {
  position:absolute;
  left:500px;
  top:638px;
  width:300px;
  height:22px;
}
#u3178 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3179 {
  position:absolute;
  left:500px;
  top:588px;
  width:40px;
  height:40px;
}
#u3180 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3181 {
  position:absolute;
  left:550px;
  top:600px;
  width:70px;
  height:16px;
  color:#999999;
}
#u3182 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u3183 {
  position:absolute;
  left:760px;
  top:670px;
  width:18px;
  height:16px;
}
#u3183_img.selected {
}
#u3183.selected {
}
#u3184 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CBF24;
}
#u3185 {
  position:absolute;
  left:785px;
  top:670px;
  width:60px;
  height:16px;
  color:#5CBF24;
}
#u3186 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3187 {
  position:absolute;
  left:492px;
  top:725px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3188 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
