body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u260 {
  position:absolute;
  left:460px;
  top:80px;
  width:380px;
  height:800px;
}
#u261 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
}
#u263 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
}
#u264 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:28px;
}
#u265 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u266 {
  position:absolute;
  left:492px;
  top:216px;
  width:320px;
  height:19px;
}
#u267 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u268 {
  position:absolute;
  left:610px;
  top:206px;
  width:108px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u270 {
  position:absolute;
  left:500px;
  top:200px;
  width:70px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:492px;
  top:234px;
}
#u272_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u272_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  text-align:left;
}
#u274 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:466px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u275 {
  position:absolute;
  left:0px;
  top:58px;
  width:320px;
  height:466px;
  font-size:14px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u272_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u272_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  text-align:left;
}
#u278 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:466px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u279 {
  position:absolute;
  left:0px;
  top:58px;
  width:320px;
  height:466px;
  font-size:14px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u272_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u272_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
  text-align:left;
}
#u282 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:466px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u283 {
  position:absolute;
  left:0px;
  top:58px;
  width:320px;
  height:466px;
  font-size:14px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u285 {
  position:absolute;
  left:492px;
  top:302px;
  width:320px;
  height:1px;
}
#u286 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
