body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u0 {
  position:absolute;
  left:460px;
  top:80px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:250px;
}
#u4 {
  position:absolute;
  left:493px;
  top:196px;
  width:319px;
  height:250px;
}
#u5 {
  position:absolute;
  left:2px;
  top:117px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u6 {
  position:absolute;
  left:492px;
  top:446px;
  width:320px;
  height:19px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u8 {
  position:absolute;
  left:492px;
  top:465px;
  width:320px;
  height:19px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u10 {
  position:absolute;
  left:492px;
  top:484px;
  width:320px;
  height:19px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u12 {
  position:absolute;
  left:492px;
  top:494px;
  width:320px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u14 {
  position:absolute;
  left:492px;
  top:523px;
  width:320px;
  height:19px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u16 {
  position:absolute;
  left:492px;
  top:539px;
  width:320px;
  height:19px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u18 {
  position:absolute;
  left:492px;
  top:551px;
  width:320px;
  height:19px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u20 {
  position:absolute;
  left:492px;
  top:570px;
  width:320px;
  height:19px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u22 {
  position:absolute;
  left:492px;
  top:589px;
  width:320px;
  height:19px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u24 {
  position:absolute;
  left:492px;
  top:608px;
  width:320px;
  height:19px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u26 {
  position:absolute;
  left:492px;
  top:627px;
  width:320px;
  height:19px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
}
#u28 {
  position:absolute;
  left:492px;
  top:646px;
  width:320px;
  height:28px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u30 {
  position:absolute;
  left:492px;
  top:666px;
  width:320px;
  height:19px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u32 {
  position:absolute;
  left:492px;
  top:685px;
  width:320px;
  height:19px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u34 {
  position:absolute;
  left:492px;
  top:700px;
  width:320px;
  height:19px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u36 {
  position:absolute;
  left:492px;
  top:713px;
  width:320px;
  height:19px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u38 {
  position:absolute;
  left:492px;
  top:732px;
  width:320px;
  height:19px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u40 {
  position:absolute;
  left:492px;
  top:742px;
  width:320px;
  height:19px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u42 {
  position:absolute;
  left:492px;
  top:742px;
  width:320px;
  height:19px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u44 {
  position:absolute;
  left:492px;
  top:745px;
  width:320px;
  height:19px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:604px;
  top:417px;
  width:97px;
  height:38px;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:47px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 255, 255, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:552px;
  top:685px;
  width:200px;
  height:47px;
  color:#FFFFFF;
}
#u49 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u50 {
  position:absolute;
  left:545px;
  top:610px;
  width:253px;
  height:34px;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
