body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u987 {
  position:absolute;
  left:460px;
  top:80px;
  width:380px;
  height:800px;
}
#u988 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
}
#u990 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
}
#u991 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:28px;
}
#u992 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u993 {
  position:absolute;
  left:492px;
  top:216px;
  width:320px;
  height:19px;
}
#u994 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u995 {
  position:absolute;
  left:610px;
  top:202px;
  width:138px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:2px;
}
#u997 {
  position:absolute;
  left:525px;
  top:497px;
  width:255px;
  height:1px;
}
#u998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:86px;
}
#u999 {
  position:absolute;
  left:610px;
  top:382px;
  width:96px;
  height:86px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:35px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1001 {
  position:absolute;
  left:598px;
  top:478px;
  width:140px;
  height:16px;
  color:#CCCCCC;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1004 {
  position:absolute;
  left:493px;
  top:708px;
  width:316px;
  height:55px;
  overflow:hidden;
}
#u1004_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1004_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u1007 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:45px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u1009 {
  position:absolute;
  left:89px;
  top:4px;
  width:45px;
  height:43px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u1011 {
  position:absolute;
  left:169px;
  top:4px;
  width:52px;
  height:43px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:43px;
}
#u1013 {
  position:absolute;
  left:259px;
  top:4px;
  width:36px;
  height:43px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:14px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:55px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1004_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u1017 {
  position:absolute;
  left:169px;
  top:4px;
  width:52px;
  height:43px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:43px;
}
#u1019 {
  position:absolute;
  left:259px;
  top:4px;
  width:36px;
  height:43px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:14px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u1021 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:45px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u1023 {
  position:absolute;
  left:89px;
  top:4px;
  width:45px;
  height:43px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:55px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1004_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u1027 {
  position:absolute;
  left:89px;
  top:4px;
  width:45px;
  height:43px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:43px;
}
#u1029 {
  position:absolute;
  left:259px;
  top:4px;
  width:36px;
  height:43px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:14px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:45px;
}
#u1031 {
  position:absolute;
  left:23px;
  top:4px;
  width:28px;
  height:45px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:14px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:43px;
}
#u1033 {
  position:absolute;
  left:169px;
  top:4px;
  width:49px;
  height:43px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:14px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:55px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1004_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u1037 {
  position:absolute;
  left:89px;
  top:4px;
  width:45px;
  height:43px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u1039 {
  position:absolute;
  left:169px;
  top:4px;
  width:52px;
  height:43px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u1041 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:45px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:43px;
}
#u1043 {
  position:absolute;
  left:259px;
  top:4px;
  width:34px;
  height:43px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1045 {
  position:absolute;
  left:500px;
  top:200px;
  width:70px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
