body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u3674 {
  position:absolute;
  left:460px;
  top:80px;
  width:380px;
  height:800px;
}
#u3675 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3676 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
}
#u3677 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u3678 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:19px;
}
#u3679 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u3680 {
  position:absolute;
  left:492px;
  top:215px;
  width:320px;
  height:19px;
}
#u3681 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3682 {
  position:absolute;
  left:580px;
  top:202px;
  width:168px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3683 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u3684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3684 {
  position:absolute;
  left:500px;
  top:200px;
  width:70px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3685 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3686 {
  position:absolute;
  left:920px;
  top:473px;
  width:200px;
  height:1px;
}
#u3687 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:2px;
}
#u3688 {
  position:absolute;
  left:525px;
  top:497px;
  width:255px;
  height:1px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:-8px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3690 {
  position:absolute;
  left:492px;
  top:273px;
  width:320px;
  height:47px;
  text-align:left;
}
#u3691 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u3692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3692 {
  position:absolute;
  left:492px;
  top:320px;
  width:320px;
  height:60px;
  text-align:left;
}
#u3693 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  word-wrap:break-word;
}
#u3694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3694 {
  position:absolute;
  left:492px;
  top:380px;
  width:320px;
  height:60px;
  font-size:14px;
  text-align:left;
}
#u3695 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  word-wrap:break-word;
}
#u3696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u3696 {
  position:absolute;
  left:748px;
  top:250px;
  width:12px;
  height:10px;
}
#u3697 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3698 {
  position:absolute;
  left:650px;
  top:247px;
  width:80px;
  height:16px;
  color:#999999;
}
#u3699 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3700 {
  position:absolute;
  left:540px;
  top:247px;
  width:80px;
  height:16px;
  color:#999999;
}
#u3701 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u3702 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
  color:#949494;
}
#u3703 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3704 {
  position:absolute;
  left:502px;
  top:422px;
  width:300px;
  height:168px;
  overflow:hidden;
  visibility:hidden;
}
#u3704_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:168px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3704_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3705 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u3706 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3707 {
  position:absolute;
  left:17px;
  top:21px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3708 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u3707_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u3709 {
  position:absolute;
  left:17px;
  top:59px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3710 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u3709_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u3711 {
  position:absolute;
  left:17px;
  top:101px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3712 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u3711_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u3713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3713 {
  position:absolute;
  left:500px;
  top:284px;
  width:24px;
  height:24px;
}
#u3714 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3715 {
  position:absolute;
  left:500px;
  top:338px;
  width:24px;
  height:24px;
}
#u3716 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3717 {
  position:absolute;
  left:500px;
  top:398px;
  width:24px;
  height:24px;
}
#u3718 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3719 {
  position:absolute;
  left:780px;
  top:288px;
  width:32px;
  height:16px;
  color:#999999;
}
#u3720 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3721 {
  position:absolute;
  left:778px;
  top:342px;
  width:32px;
  height:16px;
  color:#999999;
}
#u3722 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3723 {
  position:absolute;
  left:780px;
  top:402px;
  width:32px;
  height:16px;
  color:#999999;
}
#u3724 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3725 {
  position:absolute;
  left:542px;
  top:368px;
  visibility:hidden;
}
#u3725_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3725_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3726 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u3727 {
  position:absolute;
  left:2px;
  top:52px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u3728 {
  position:absolute;
  left:10px;
  top:14px;
  width:180px;
  height:56px;
  color:#FFFFFF;
  text-align:center;
}
#u3729 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3730 {
  position:absolute;
  left:22px;
  top:80px;
  width:170px;
  height:30px;
  color:#FFFFFF;
}
#u3731 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u3725_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3725_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3732 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u3733 {
  position:absolute;
  left:2px;
  top:52px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u3734 {
  position:absolute;
  left:10px;
  top:14px;
  width:180px;
  height:56px;
  color:#FFFFFF;
  text-align:center;
}
#u3735 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3736 {
  position:absolute;
  left:22px;
  top:80px;
  width:170px;
  height:30px;
  color:#FFFFFF;
}
#u3737 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u3725_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3725_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3738 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u3739 {
  position:absolute;
  left:2px;
  top:52px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u3740 {
  position:absolute;
  left:10px;
  top:14px;
  width:180px;
  height:56px;
  color:#FFFFFF;
  text-align:center;
}
#u3741 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3742 {
  position:absolute;
  left:22px;
  top:80px;
  width:170px;
  height:30px;
  color:#FFFFFF;
}
#u3743 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
