body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u910 {
  position:absolute;
  left:460px;
  top:80px;
  width:380px;
  height:800px;
}
#u911 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
}
#u913 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
}
#u914 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:28px;
}
#u915 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u916 {
  position:absolute;
  left:492px;
  top:216px;
  width:320px;
  height:19px;
}
#u917 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u918 {
  position:absolute;
  left:634px;
  top:202px;
  width:78px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:492px;
  top:289px;
  width:320px;
  height:16px;
}
#u921 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u922 {
  position:absolute;
  left:550px;
  top:260px;
  width:152px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:780px;
  top:260px;
  width:60px;
  height:16px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u926 {
  position:absolute;
  left:550px;
  top:322px;
  width:152px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u928 {
  position:absolute;
  left:550px;
  top:383px;
  width:162px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  position:absolute;
  left:780px;
  top:383px;
  width:60px;
  height:16px;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u932 {
  position:absolute;
  left:500px;
  top:200px;
  width:70px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:492px;
  top:351px;
  width:320px;
  height:16px;
}
#u935 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:35px;
}
#u936 {
  position:absolute;
  left:500px;
  top:310px;
  width:29px;
  height:35px;
}
#u937 {
  position:absolute;
  left:2px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:35px;
}
#u938 {
  position:absolute;
  left:500px;
  top:371px;
  width:29px;
  height:35px;
}
#u939 {
  position:absolute;
  left:2px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:48px;
}
#u940 {
  position:absolute;
  left:500px;
  top:244px;
  width:41px;
  height:48px;
}
#u941 {
  position:absolute;
  left:2px;
  top:16px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u942 {
  position:absolute;
  left:492px;
  top:661px;
  width:320px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u943 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:493px;
  top:710px;
}
#u944_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u944_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u946 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:49px;
}
#u947 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:49px;
}
#u948 {
  position:absolute;
  left:2px;
  top:16px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u949 {
  position:absolute;
  left:89px;
  top:6px;
  width:45px;
  height:47px;
}
#u950 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u951 {
  position:absolute;
  left:169px;
  top:6px;
  width:52px;
  height:47px;
}
#u952 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u953 {
  position:absolute;
  left:259px;
  top:6px;
  width:36px;
  height:47px;
}
#u954 {
  position:absolute;
  left:2px;
  top:16px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u944_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u956 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u957 {
  position:absolute;
  left:169px;
  top:6px;
  width:52px;
  height:47px;
}
#u958 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u959 {
  position:absolute;
  left:259px;
  top:6px;
  width:36px;
  height:47px;
}
#u960 {
  position:absolute;
  left:2px;
  top:16px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:48px;
}
#u961 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:48px;
}
#u962 {
  position:absolute;
  left:2px;
  top:16px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u963 {
  position:absolute;
  left:89px;
  top:6px;
  width:45px;
  height:47px;
}
#u964 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u944_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u966 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u967 {
  position:absolute;
  left:89px;
  top:6px;
  width:45px;
  height:47px;
}
#u968 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u969 {
  position:absolute;
  left:259px;
  top:6px;
  width:36px;
  height:47px;
}
#u970 {
  position:absolute;
  left:2px;
  top:16px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:49px;
}
#u971 {
  position:absolute;
  left:23px;
  top:4px;
  width:28px;
  height:49px;
}
#u972 {
  position:absolute;
  left:2px;
  top:16px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u973 {
  position:absolute;
  left:169px;
  top:6px;
  width:49px;
  height:48px;
}
#u974 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u944_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u976 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u977 {
  position:absolute;
  left:89px;
  top:6px;
  width:45px;
  height:47px;
}
#u978 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u979 {
  position:absolute;
  left:169px;
  top:6px;
  width:52px;
  height:47px;
}
#u980 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:49px;
}
#u981 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:49px;
}
#u982 {
  position:absolute;
  left:2px;
  top:16px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:47px;
}
#u983 {
  position:absolute;
  left:259px;
  top:6px;
  width:34px;
  height:47px;
}
#u984 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u985 {
  position:absolute;
  left:780px;
  top:323px;
  width:60px;
  height:16px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
