body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u850 {
  position:absolute;
  left:460px;
  top:80px;
  width:380px;
  height:800px;
}
#u851 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:569px;
}
#u853 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u854 {
  position:absolute;
  left:492px;
  top:196px;
  width:320px;
  height:20px;
}
#u855 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u856 {
  position:absolute;
  left:492px;
  top:216px;
  width:320px;
  height:19px;
}
#u857 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u858 {
  position:absolute;
  left:610px;
  top:202px;
  width:138px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:2px;
}
#u860 {
  position:absolute;
  left:525px;
  top:497px;
  width:255px;
  height:1px;
}
#u861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:86px;
}
#u862 {
  position:absolute;
  left:610px;
  top:382px;
  width:96px;
  height:86px;
}
#u863 {
  position:absolute;
  left:2px;
  top:35px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u864 {
  position:absolute;
  left:598px;
  top:478px;
  width:140px;
  height:16px;
  color:#CCCCCC;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u867 {
  position:absolute;
  left:493px;
  top:708px;
  width:316px;
  height:55px;
  overflow:hidden;
}
#u867_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u867_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u869 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u870 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:45px;
}
#u871 {
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u872 {
  position:absolute;
  left:89px;
  top:4px;
  width:45px;
  height:43px;
}
#u873 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u874 {
  position:absolute;
  left:169px;
  top:4px;
  width:52px;
  height:43px;
}
#u875 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:43px;
}
#u876 {
  position:absolute;
  left:259px;
  top:4px;
  width:36px;
  height:43px;
}
#u877 {
  position:absolute;
  left:2px;
  top:14px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:55px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u867_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u879 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u880 {
  position:absolute;
  left:169px;
  top:4px;
  width:52px;
  height:43px;
}
#u881 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:43px;
}
#u882 {
  position:absolute;
  left:259px;
  top:4px;
  width:36px;
  height:43px;
}
#u883 {
  position:absolute;
  left:2px;
  top:14px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u884 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:45px;
}
#u885 {
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u886 {
  position:absolute;
  left:89px;
  top:4px;
  width:45px;
  height:43px;
}
#u887 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:55px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u867_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u889 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u890 {
  position:absolute;
  left:89px;
  top:4px;
  width:45px;
  height:43px;
}
#u891 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:43px;
}
#u892 {
  position:absolute;
  left:259px;
  top:4px;
  width:36px;
  height:43px;
}
#u893 {
  position:absolute;
  left:2px;
  top:14px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:45px;
}
#u894 {
  position:absolute;
  left:23px;
  top:4px;
  width:28px;
  height:45px;
}
#u895 {
  position:absolute;
  left:2px;
  top:14px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:43px;
}
#u896 {
  position:absolute;
  left:169px;
  top:4px;
  width:49px;
  height:43px;
}
#u897 {
  position:absolute;
  left:2px;
  top:14px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:55px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u867_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u899 {
  position:absolute;
  left:2px;
  top:20px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u900 {
  position:absolute;
  left:89px;
  top:4px;
  width:45px;
  height:43px;
}
#u901 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u902 {
  position:absolute;
  left:169px;
  top:4px;
  width:52px;
  height:43px;
}
#u903 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u904 {
  position:absolute;
  left:23px;
  top:4px;
  width:29px;
  height:45px;
}
#u905 {
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:43px;
}
#u906 {
  position:absolute;
  left:259px;
  top:4px;
  width:34px;
  height:43px;
}
#u907 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u908 {
  position:absolute;
  left:500px;
  top:200px;
  width:70px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
